<h>Main heading</h>
<p>
  Sint nisi occaecat incididunt duis incididunt magna veniam. Ad non nulla et
  occaecat esse sit cillum commodo ea quis consectetur qui commodo. Exercitation
  ipsum velit aute aliquip eiusmod exercitation eu reprehenderit. Ipsum anim ex
  ex voluptate est ut aliquip nisi. Quis consequat cillum nostrud in velit
  incididunt in elit.
</p>
<app-alert message="Reading alerts is very important"></app-alert>

<div>
  <h>Subheading</h>
  <p>
    Id eiusmod ipsum reprehenderit exercitation qui. Excepteur enim eiusmod
    deserunt non quis officia excepteur. Ipsum minim consectetur quis officia ad
    et veniam nostrud dolore quis. Duis nisi esse mollit pariatur reprehenderit
    labore proident sunt pariatur commodo do proident officia consequat.
  </p>
  <app-alert message="Beware of the dangers of not reading alerts!"></app-alert>
  <h>Subheading</h>
  <p>
    Id eiusmod ipsum reprehenderit exercitation qui. Excepteur enim eiusmod
    deserunt non quis officia excepteur. Ipsum minim consectetur quis officia ad
    et veniam nostrud dolore quis. Duis nisi esse mollit pariatur reprehenderit
    labore proident sunt pariatur commodo do proident officia consequat.
  </p>
  <app-alert message="Beware of the dangers of not reading alerts!"></app-alert>
</div>
